<div fxLayout class="login-card">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form fxLayout="column" [formGroup]="loginForm" (ngSubmit)="signIn()">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" name="email" formControlName="email" />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            name="password"
            formControlName="password"
          />
        </mat-form-field>
        <mat-card-actions fxLayout="column">
          <button fxFlex type="submit" name="submit" mat-raised-button>
            Login
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <mat-label>Don't have an account?</mat-label>
      <button mat-button [routerLink]="['/register']">Register</button>
    </mat-card-actions>
  </mat-card>
</div>
