<mat-toolbar color="primary">
  <button mat-icon-button [routerLink]="['/']">
    <mat-icon>map</mat-icon>
    <span>RestBnb</span>
  </button>
  <span class="navbar-spacer"></span>
  <button *ngIf="isLoggedIn" mat-icon-button [routerLink]="['/properties/add']">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button [routerLink]="['/properties']">
    <mat-icon>search</mat-icon>
  </button>
  <button *ngIf="!isLoggedIn" mat-icon-button [routerLink]="['/login']">
    <mat-icon>login</mat-icon>
  </button>
  <button *ngIf="isLoggedIn" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/']">
      <mat-icon>dashboard</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item [routerLink]="['/']">
      <mat-icon>house</mat-icon>
      <span>Properties</span>
    </button>
    <button mat-menu-item [routerLink]="['/dashboard/bookings']">
      <mat-icon>bookmarks</mat-icon>
      <span>Bookings</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>close</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
