<div class="properties-component">
  <app-search-bar
    class="search-bar"
    (modelChanged)="updateComponent($event)"
  ></app-search-bar>

  <table
    *ngIf="properties && properties.length > 0"
    mat-table
    [dataSource]="properties"
    class="search-results-table mat-elevation-z8"
  >
    <ng-container matColumnDef="imageUrl">
      <th mat-header-cell *matHeaderCellDef>Property Image</th>
      <td mat-cell *matCellDef="let property">
        <img [src]="property.imageUrl" />
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Property Name</th>
      <td mat-cell *matCellDef="let property">{{ property.name }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let property">{{ property.description }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price per night</th>
      <td mat-cell *matCellDef="let property">
        {{ property.pricePerNight | currency }}
      </td>
    </ng-container>
    <ng-container matColumnDef="buttons"
      ><th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let property">
        <button
          mat-raised-button
          color="primary"
          (click)="openDetailsTab(property.id)"
        >
          Details
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
