.price-input {
  text-align: right;
}

.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
  display: none;
}

.price-input {
  -moz-appearance: textfield;
}

.property-form-card {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
